<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Insert title here</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <ul class="nav justify-content-center mt-5">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Recipe Information</a>
            </li>
            <li class="nav-item">
              <strong><a class="nav-link text-dark" href="#">Find Recipe</a></strong>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Analyze Recipe</a>
            </li>
        </ul>
        <hr class="mx-5 mb-5"/>

        <form method="post">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="row">
                                <div class= "col-4">
                                    Food name
                                </div>
                                <div class= "col-8">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Kind of food you are looking for" name="food_name" aria-label="food_name" id="food_name" aria-describedby="basic-addon1" required>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    Cuisine
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="african" id="african" checked>
                                        <label class="form-check-label" for="african">
                                        African
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="chinese" id="chinese" checked>
                                        <label class="form-check-label" for="chinese">
                                            chinese
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="japanese" id="japanese" checked>
                                        <label class="form-check-label" for="japanese">
                                            japanese
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="korean" id="korean" checked>
                                        <label class="form-check-label" for="korean">
                                            korean
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="vietnamese" id="vietnamese" checked>
                                        <label class="form-check-label" for="vietnamese">
                                            vietnamese
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="thai" id="thai" checked>
                                        <label class="form-check-label" for="thai">
                                            thai
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="indian" id="indian" checked>
                                        <label class="form-check-label" for="indian">
                                            indian
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="british" id="british" checked>
                                        <label class="form-check-label" for="british">
                                            british
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="irish" id="irish" checked>
                                        <label class="form-check-label" for="irish">
                                            irish
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="french" id="french" checked>
                                        <label class="form-check-label" for="french">
                                            french
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="italian" id="italian" checked>
                                        <label class="form-check-label" for="italian">
                                            italian
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="mexican" id="mexican" checked>
                                        <label class="form-check-label" for="mexican">
                                            mexican
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="spanish" id="spanish" checked>
                                        <label class="form-check-label" for="spanish">
                                            spanish
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="middle eastern" id="middle eastern" checked>
                                        <label class="form-check-label" for="middle eastern">
                                            middle eastern
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="jewish" id="jewish" checked>
                                        <label class="form-check-label" for="jewish">
                                            jewish
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="american" id="american" checked>
                                        <label class="form-check-label" for="american">
                                            american
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="cajun" id="cajun" checked>
                                        <label class="form-check-label" for="cajun">
                                            cajun
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="southern" id="southern" checked>
                                        <label class="form-check-label" for="southern">
                                            southern
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="greek" id="greek" checked>
                                        <label class="form-check-label" for="greek">
                                            greek
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="german" id="german" checked>
                                        <label class="form-check-label" for="german">
                                            german
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="nordic" id="nordic" checked>
                                        <label class="form-check-label" for="nordic">
                                            nordic
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="eastern european" id="eastern european" checked>
                                        <label class="form-check-label" for="eastern european">
                                            eastern european
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="caribbean" id="caribbean" checked>
                                        <label class="form-check-label" for="caribbean">
                                            caribbean
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="cuisine[]" value="latin american" id="latin american" checked>
                                        <label class="form-check-label" for="latin american">
                                            latin american
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3"></div>
                                <div class= "col-4">
                                    Diet
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="none" id="none" checked>
                                        <label class="form-check-label" for="none">
                                            none
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="pescetarian" id="pescetarian" >
                                        <label class="form-check-label" for="pescetarian">
                                            pescetarian
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="lacto vegetarian" id="lacto vegetarian">
                                        <label class="form-check-label" for="lacto vegetarian">
                                            lacto vegetarian
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="ovo vegetarian" id="ovo vegetarian" >
                                        <label class="form-check-label" for="ovo vegetarian">
                                            ovo vegetarian
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="vegan" id="vegan">
                                        <label class="form-check-label" for="vegan">
                                            vegan
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="paleo" id="paleo" >
                                        <label class="form-check-label" for="paleo">
                                            paleo
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="vegetarian" id="vegetarian">
                                        <label class="form-check-label" for="vegetarian">
                                            vegetarian
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" value="primal" id="primal" >
                                        <label class="form-check-label" for="primal">
                                            primal
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3"></div>
                                <div class= "col-4 ">
                                    Intolerances
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="dairy" id="dairy">
                                        <label class="form-check-label" for="dairy">
                                            dairy
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="egg" id="egg">
                                        <label class="form-check-label" for="egg">
                                            egg
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="gluten" id="gluten">
                                        <label class="form-check-label" for="gluten">
                                            gluten
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="peanut" id="peanut">
                                        <label class="form-check-label" for="peanut">
                                            peanut
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="sesame" id="sesame">
                                        <label class="form-check-label" for="sesame">
                                            sesame
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="seafood" id="seafood">
                                        <label class="form-check-label" for="seafood">
                                            seafood
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="shellfish" id="shellfish">
                                        <label class="form-check-label" for="shellfish">
                                            shellfish
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="soy" id="soy">
                                        <label class="form-check-label" for="soy">
                                            soy
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="sulfite" id="sulfite">
                                        <label class="form-check-label" for="sulfite">
                                            sulfite
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="tree nut" id="tree nut">
                                        <label class="form-check-label" for="tree nut">
                                            tree nut
                                        </label>
                                    </div>
                                </div>
                                <div class= "col-4">
                                </div>
                                <div class= "col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="intolerances[]" value="wheat" id="wheat">
                                        <label class="form-check-label" for="wheat">
                                            wheat
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row justify-content-center">
                        <div class= "col-3">
                            Nutrient
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <p class="text-center">MIN</p>
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <p class="text-center">MAX</p>
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-3"></div>
                        <div class= "col-3">
                            Carbo
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="min_carbo" value="10" min="0" >
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="max_carbo" value="100">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-2"></div>
                        <div class= "col-3">
                            Protein
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="min_protein" value="10" min="0" >
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="max_protein" value="100">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-2"></div>
                        <div class= "col-3">
                            Calories
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="min_calories" value="50" min="0" >
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="max_calories" value="800" >
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-2"></div>
                        <div class= "col-3">
                            Fat
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="min_fat" value="10" min="0">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="max_fat" value="100">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-2"></div>
                        <div class= "col-3">
                            Alcohol
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="min_alcohol" value="0" min="0" >
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="max_alcohol" value="100">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-2"></div>
                        <div class= "col-3">
                            Sugar
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="min_sugar" value="0" min="0">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="max_sugar" value="100">
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="mb-5"></div>
                        <div class= "col-3">
                            <button class="btn btn-primary w-100" type="submit">Find</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>